# Environment variables
login.env
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docker
.dockerignore
docker-compose.override.yml

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
